@model List<ControleEstoque.Web.Models.UsuarioModel>

@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Usuários";
}

@section Styles{
        <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
        <link href="~/Content/Cadastro/estilo.css" rel="stylesheet" />
}

@section TituloGrid{
    <th>Nome</th>
    <th>Data</th>
    <th>Login</th>
    <th>Ação</th>
}

@section ConteudoGrid {
    @foreach (var item in Model)
    {
        <tr data-id="@item.Id">
            <td>@item.Nome</td>
            <td>@item.DataCadastro.ToString("dd/MM/yyyy HH:mm:ss")</td>
            <td>@item.Login</td>
            <td>
                <a class="btn btn-info btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i>Alterar</a>
                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i>Excluir</a>
            </td>
        </tr>
    }
}

@section CamposCadastro{
    <div class="form-group">
        @Html.Label("txt-nome", "Nome", new { @class = "col-md-3 control-label" })
        <div class="col-md-12">
            @Html.TextBox("txt-nome", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("txt-login", "Login", new { @class = "col-md-3 control-label" })
        <div class="col-md-12">
            @Html.TextBox("txt-login", null, new { @class = "form-control" })
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script>
            var tituloPage = '@ViewBag.Title',
                urlAlterar = '@Url.Action("RecuperaUsuario", "Usuario")',
                urlExcluir = '@Url.Action("ExcluirUsuario", "Usuario")',
                urlSalvar = '@Url.Action("SalvarUsuario", "Usuario")',
                urlGrupoPagina = '@Url.Action("UsuarioPagina", "Usuario")',
                urlMudaQuantItens = '@Url.Action("MudaQuantItensPagina", "Usuario")',
                quantItens = '@ViewBag.QuantItens'
    </script>
    <script src="~/Scripts/Cadastro/Cadastro.js"></script>
    <script src="~/Scripts/Cadastro/Usuario.js"></script>
}
